<div id="wrap">
	<div id="header"></div>
	<div id="main"></div>
	<div id="push"></div>
</div>
<div id="footer"></div>

<%= javascript_tag do %>
$(function(){
	worldcup.start({
		groups: gon.groups
	});
});
<% end %>